<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contacts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nav-bar.css">
</head>
<body>

   <div>
    <div>
    <ul id="navbar">
      <li class="navbar_link"><a class="nav_link" href="#">Начало</a></li>
      <li class="navbar_link"><a class="nav_link" href="#">Контакти</a></li>
      <li class="navbar_link"><a class="nav_link" href="#">За прое</a></li>
      <li class="navbar_link" id="dropdown"><a href="#" class="nav_link dropbtn">Дарете сега</a>
        <div class="dropdown-content">
          <a href="#">Онлайн</a>
          <a href="#">Пунктуве</a>
        </div>
      </li>
      <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-user"></span><a class="nav_link user_link" href="#">Регистрация</a></li>
      <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-log-in"></span><a class="nav_link user_link" href="#">Влизане</a></li>
    </ul>
</div>

</body>
</html>
