<!DOCTYPE html>
<html lang="en">
<head>

    <title>Nick already taken</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/loggedin.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nav-bar.css">

</head>
<body>

    <div>
        <ul id="navbar">
        		<li class="navbar_link"><a class="nav_link" href="/home">Начало</a></li>
        		<li class="navbar_link"><a class="nav_link" href="/contacts">Контакти</a></li>
        		<li class="navbar_link"><a class="nav_link" href="/about">За проекта</a></li>
        		<li class="navbar_link"><a class="nav_link" href="" >Дарете сега</a>
                <ul>
                    <li>
                        <a href="/online">Онлайн</a>
                        <a class = "punct" href="/donators">Топ 3 дарители</a>
                    </li>
        		     </ul>
        		</li>
            <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-user"></span><a class="nav_link user_link" href="/register">Регистрация</a></li>
            <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-log-in"></span><a class="nav_link user_link" href="/login">Влизане</a></li>
          </ul>
    </div>
    <h1><u>This nickname is already taken!</u></h1>

</body>
</html>
