<!DOCTYPE html>
<html>
<head>
	<title>home New Future</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/home_help.css">
</head>
<body>
	<button class="btn info" onclick="window.location.href = '/orphans';">Назад към всички домове</button>
	<div class="content">
		<ol>
			<li><u>име на дома: </u><span>Ново бъдеще</span></li>
			<li><u>местоположение: </u><span>гр. София, квартал Надежда</span></li>
			<li><u>средства, от които се нуждае: </u></li>

		</ol>

		<table>
			<tr>
				<th>Средства</th>
				<th>Количество-броя</th>
			</tr>
			<tr>
				<td>Играчки</td>
				<td>плюшени играчки</td>
			</tr>
			<tr>
				<td>Дрехи</td>
				<td>тениски, панталони, якета - за около 15-20 деца</td>
			</tr>
		</table>
	</div>
</body>
</html>
