<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Начало</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/nav-bar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="../static/css/registerDom.css">
    <script src= "../static/js/dropdown.js"></script>
    <script src= "../static/js/dropdown1.js"></script>

</head>

<body>

    <div>
        <ul id="navbar">
            <li class="navbar_link"><a class="nav_link" href="/home">Начало</a></li>
            <li class="navbar_link"><a class="nav_link" href="/contacts">Контакти</a></li>
            <li class="navbar_link"><a class="nav_link" href="/about">За проекта</a></li>
            <li class="navbar_link"><a class="nav_link" href="" >Дарете сега</a>
                <ul >
                    <li>
                      <a href="/online">Онлайн</a>
                      <a class = "punct" href="/donators">Топ 3 дарители</a>
                    </li>
                </ul>
            </li>
            {%if user_login %}
            <li class="navbar_link"><a class="nav_link" href="/orphans">Домове</a>
            <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-log-in"></span><a class="nav_link user_link" href="/logout">Излизане</a></li>
            <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-user"></span><a class="nav_link user_link" href="/myprofile">Профил</a></li>
            {% else %}
            <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-user">

              <div class="dropdown">
                  <button onclick="myFunction()" class="dropbtn">Регистрация</button>
                  <div id="myDropdown" class="dropdown-content">
                    <a href="/register">Дарители</a>
                    <a href="/registerDom">Dомове</a>
                  </div>
              </div>
            </li>

            <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-log-in">
              <div class="dropdown">
                  <button onclick="myFunction1()" class="dropbtn">Влизане</button>
                  <div id="Dropdown1" class="dropdown-content">
                    <a href="/login">Дарител</a>
                    <a href="/loginDom">Дом</a>
                  </div>
              </div>
            </li>
            {% endif %}
        </ul>
    </div>

    </div>
      <div class = "section" ><iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d119476.61634996995!2d23.229259524068777!3d42.693042168461126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0L_Rg9C90LrRgtC-0LLQtSDQt9CwINC00LDRgNC10L3QuNC1INC90LAg0LTRgNC10YXQuA!5e1!3m2!1sbg!2sbg!4v1555737170554!5m2!1sbg!2sbg"></iframe>
      </div>
                <h1> Пунктове </h1>
                <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3>Сдружение "Дари Любов"</h3>
                                <p>бул. „ген. Тотлебен“ 34, 1606 София <br> Понеделник - Петък: 08:00 - 20:00 часа</p>
                            </div>
                            <div class="col-sm-4">
                                  <h3>Български Червен кръст</h3>
                                  <p>бул. „княз Александър Дондуков“ 61, 1527 Център, София<br> Понеделник - Събота: 08:00 - 17:00 часа</p>
                            </div>
                            <div class="col-sm-4">
                                <h3>Български Червен кръст - 1ТЦ</h3>
                                <p>ул. „Златни врата“ 15, 1404 ж.к. Стрелбище, София<br>Понеделник - Събота: 09:00 - 17:00 часа</p>
                            </div>
                        </div>
                    </div>
</body>

</html>
