<!DOCTYPE html>
<html lang="en">
<head>
    <title>Orphan homes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" href="../static/css/orphan_homes.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nav-bar.css">
</head>
<body>



  <div>

    <ul id="navbar">
		<li class="navbar_link"><a class="nav_link" href="/home">Начало</a></li>
		<li class="navbar_link"><a class="nav_link" href="/contacts">Контакти</a></li>
		<li class="navbar_link"><a class="nav_link" href="/about">За проекта</a></li>
		<li class="navbar_link"><a class="nav_link" href="" >Дарете сега</a>
          <ul>
            <li>
              <a href="/online">Онлайн</a>
              <a class = "punct" href="/donators">Топ 3 дарители</a>
            </li>

		   </ul>
		</li>
		<li class="navbar_link"><a class="nav_link" href="/orphan_homes">Домове</a>
        <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-user"></span><a class="nav_link user_link" href="/register">Регистрация</a></li>
        <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-log-in"></span><a class="nav_link user_link" href="/login">Влизане</a></li>
      </ul>
  </div>
  
  <div class="content">
	<ol>
		<li>Дом за сираци "Помогни"</li>
		<button class="btn info">повече за дома</button></br>
		<li>Дом за сираци "Звезда"</li>
		<button class="btn info">повече за дома</button></br>
		<li>Дом за сираци "Ново бъдеще"</li>
		<button class="btn info">повече за дома</button></br>
	</ol>
  </div>


</body>
</html>
