<!DOCTYPE html>
<html lang="en">
<head>
    <title>Orphan homes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/orphan_homes.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nav-bar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/registerDom.css">
    <script src= "../static/js/dropdown.js"></script>
    <script src= "../static/js/dropdown1.js"></script>
</head>
<body>
  <div>

      <ul id="navbar">
      		<li class="navbar_link"><a class="nav_link" href="/home">Начало</a></li>
      		<li class="navbar_link"><a class="nav_link" href="/contacts">Контакти</a></li>
      		<li class="navbar_link"><a class="nav_link" href="/about">За проекта</a></li>
      		<li class="navbar_link"><a class="nav_link" href="" >Дарете сега</a>
              <ul>
                  <li>
                      <a href="/online">Онлайн</a>
                      <a class = "punct" href="/donators">Топ 3 дарители</a>
                  </li>
      		   </ul>
      		</li>

          {%if user_login%}
          <li class="navbar_link"><a class="nav_link" href="/orphan_homes">Домове</a>
          <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-log-in"></span><a class="nav_link user_link" href="/logout">Излизане</a></li>
          {% else %}

                <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-user">

                      <div class="dropdown">
                          <button onclick="myFunction()" class="dropbtn">Регистрация</button>
                          <div id="myDropdown" class="dropdown-content">
                            <a href="/register">Дарители</a>
                            <a href="/registerDom">Домове</a>
                          </div>
                      </div>
                    </li>

                    <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-log-in">
                      <div class="dropdown">
                          <button onclick="myFunction1()" class="dropbtn">Влизане</button>
                          <div id="Dropdown1" class="dropdown-content">
                            <a href="/login">Дарител</a>
                            <a href="/loginDom">Дом</a>
                          </div>
                      </div>
                    </li>

          {% endif %}
      </ul>
  </div>

  <div class="content">
      {% for i in range (0, len) %}
    	<div>
      		<div class="homes">Дом за сираци {{orphans[i][1]}}</div>
      		<button class="btn info" onclick="window.location.href = '/orphan_help/{{orphans[i][0]}}';">повече инфо за дома</button>
    	</div>
      {% endfor %}
  </div>

</body>
</html>
