<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/nav-bar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
</head>

<body>

<div>
    <div>
    <ul id="navbar">
      <li class="navbar_link"><a class="nav_link" href="/home">Начало</a></li>
      <li class="navbar_link"><a class="nav_link" href="/contacts">Контакти</a></li>
      <li class="navbar_link"><a class="nav_link" href="/about">За проекта</a></li>
      <li class="navbar_link" id="dropdown"><a href="#" class="nav_link dropbtn">Дарете сега</a>
        <div class="dropdown-content">
          <a href="#">Онлайн</a>
          <a href="#">Пунктуве</a>
        </div>

      </li>
      <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-user"></span><a class="nav_link user_link" href="/register">Регистрация</a></li>
      <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-log-in"></span><a class="nav_link user_link" href="/login">Влизане</a></li>
    </ul>
</div>
 
</body>

</html>
