body{
		background-image: url("../img/snimka1.png");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 100% 5%;
}
p {
	text-align: center;
	margin-top: 50px;
	margin-left: 33%;
	font-size: 30px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	max-width:500px;
	word-wrap:break-word;
	color: black;
}
h1 {
	text-align: center;
	font-size: 80px;
	font-family: "Comic Sans MS", cursive, sans-serif;

}
