body{
		background-image: url("snimka.jpg");
		background-repear: no-repeat;
		background-size: 100%;
		background-position: 100% 5%;
	}


.menu{
  padding-top: 100px;
    text-align: center;
}
.menu li{

    margin: 300px;
}
.menu2{
    text-align: center;
}

.menu2 li{
    font-size: 25px;
    margin: 305px;
}

img{
    weight: 300px;
    height: 300px;

}
  .dropbtn {
    background-color: #222;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 16px;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 16px;

    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #222;}

  li{
    display:inline;
  }


li a:hover {
  background-color: #222;
}

.all_log {
  float: right;
  margin:auto;
}
