body{
		background-image: url("../img/snimka.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 100% 5%;
}


.menu{
  padding-top: 50px;
    text-align: center;
}

.menu2{
    text-align: center;
}

p{
    font-size: 25px;
    margin: 20px;
}

img{
		margin-right: 50px;
    weight: 300px;
    height: 300px;
}
