.post{
  text-align: center;
  margin-top: 60px;
}

img{
  margin-left: 47%;
  weight: 100px;
  height: 100px;
}

body{
		background-image: url("../img/background_profile.png");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 100% 5%;
	}
h1 {
  text-align: center;
  color: blue;
}
.post{
  display: block;
  float:inherit;
  color: blue
;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
}
