body{
		background-image: url("../img/snimka.jpg");
		background-size: 100%;
		background-position: 100% 5%;
	}
  img{
    weight: 100px;
    height: 100px;
  }


.POST {

  margin-top: 200px;
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;

}
