body{
		background-image: url("../img/snimka.jpg");
<<<<<<< HEAD
=======
		background-repear: no-repeat;
>>>>>>> Top3Donators
		background-size: 100%;
		background-position: 100% 5%;
	}
  img{
    weight: 100px;
    height: 100px;
  }


.POST {
<<<<<<< HEAD

  margin-top: 200px;
=======
  margin-top: 50px;
>>>>>>> Top3Donators
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;

}
