.post{
  text-align: center;
  padding-top: 200px;
}

img{
  weight: 100px;
  height: 100px;
}

body{
		background-image: url("snimka.jpg");
		background-repear: no-repeat;
		background-size: 100%;
		background-position: 100% 5%;
	}

.post{
  display: block;
  float:inherit;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
